:root {
  --primary-color: #006CDF;
  --secondary-color: #c3d6db;
}

* {
  margin: 0;
  padding: 0;
  font-size: large;
}

html {
  background-color: var(--secondary-color);
  padding-bottom: 20px;
}

nav {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--primary-color);
}

#nav-logo {
  margin-right: auto;
}

#nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#nav-list a {
  color: var(--primary-color);
  text-decoration: none;
}

#nav-list a:hover {
  text-decoration: underline;
}

#login-btn {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 25px;
}

#login-btn:hover {
  cursor: pointer;
  background-color: #a9caee;
  color: black;
}

main {
  width: 70vw;
  margin: auto;
  font-size: xx-large;
}

h1 {
  font-size: 35px;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.article-img {
  max-height: 70vh;
  max-width: 100%;
  display: block;
  margin: 10px auto;
}

.img-attribution {
  text-align: center;
  display: block;
  margin: 0 auto 20px;
}

a {
  color: rgb(0, 13, 255);
}