* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

nav {
  background-color: lightseagreen;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
}

a {
  color: white;
  font-size: large;
}

.card {
  border: 1px solid red;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 75px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: white;
}