#placeholder {
    margin-top: 50px;
}

#pokemon-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sprite {
    height: 350px;
    width: auto;
}

#type-list {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}